<form name="loginForm">
   <div layout-gt-xs="row">
      <md-input-container>
         <label for="username">Username:</label>
         <input type="text" id="username" ng-model="credentials.username" required>
      </md-input-container>
   </div>
   <div layout-gt-xs="row">
      <md-input-container>
         <label for="password">Password:</label>
         <input type="password" id="password" ng-model="credentials.password" required>
      </md-input-container>
   </div>
   <div layout-gt-xs="row">
      <md-button ng-click="$ctrl.login(credentials)">Login</md-button>
      <md-button ui-sref="auth.register">Register</md-button>
   </div>
</form>