id:{{ $ctrl.user.id }}
<form name="editForm" ng-submit="$ctrl.updateUserProfile($ctrl.credentials)" novalidate>
   <label for="username">Username:</label>
   <input type="text" id="username" ng-model="$ctrl.credentials.username" required>
   <br>
   <label for="password">Password:</label>
   <input type="password" id="password" ng-model="$ctrl.credentials.password" required>
   <br>
   <label for="email">Email:</label>
   <input type="text" id="email" ng-model="$ctrl.credentials.email" required>
   <br>
   <button type="submit">Update</button>
   <button ui-sref="app.profile.show">Cancel</button>
</form>