<form name="registerForm" ng-submit="$ctrl.register(credentials)" novalidate>
   <label for="username">Username:</label>
   <input type="text" id="username" ng-model="credentials.username" required>
   <br>
   <label for="password">Password:</label>
   <input type="password" id="password" ng-model="credentials.password" required>
   <br>
   <label for="email">Email:</label>
   <input type="text" id="email" ng-model="credentials.email" required>
   <br>
   <button type="submit">Register</button>
   <button ui-sref="auth.login">Cancel</button>
</form>
